/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(51, 51, 51, 0);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(39, 39, 39, 0);
  color: #00ffce;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d00;
  color: rgba(255, 255, 255, 0);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-right: 2px;
  margin-top: 9;
}

.logo{
    width: 35px;
    margin: 13px;
    margin-left: 2px;
    margin-top: 20px;
}

.twitter{
    width: 20px;
    margin: 13px;
    margin-top: 5px;
    margin-right: 0%;
}

.insta{
    width: 17px;
    margin: 13px;
    margin-top: 5px;
    margin-right: 0%;
    margin-left: 0%;
}

.linkedin{
    width: 18px;
    margin: 13px;
    margin-top: 3;
    margin-right: 0 ;
    margin-left: 0%;
}

.tinder
{
    width: 17px;
    margin: 13px;
    margin-right: 0%;
    margin-top: 4.5;
    margin-left: 0%;
}

body {
    margin: 60px auto;
    margin-top: 0%;
    font-family: HelveticaNowDisplay-Regular;
    src: url(/HelveticaNowDisplay-Regular.woff);
      background-color: #000000;
      color: #ffffff;
    width:97%;
    max-width: 580px;
    font-size: 18px;
    line-height: 26px;
  }
  
  header {
    margin-top: 0px;
    margin-bottom: 0px;
    display:flex;
  }
  
  header a {
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px dotted #ffffff;
  }
  
  header a:visited {
      color: #484848;
  }
  
  header a:hover {
      border-bottom: 1px solid #999892;
  }
  
  h1 {
    font-size: 38px;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  body.post h1 {
    margin-bottom: 5px;
  }
  
  body.post header p {
    font-size: 14px;
  }
  
  h2 {
    margin-top: 40px;
    margin-bottom: 5px;
  
    font-size: 24px;
    font-weight: normal;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 5px;
  
    font-size: 20px;
    font-weight: bold;
  }
  
  img.avatar {
    background-size: 100%;
    display: block;
    height: 80px;
    overflow: hidden;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 80px;
    margin-right: 15px;
  }

.wrapper {
    padding-left: 10px;
    padding-right: 10px;
} 
  
  
  pre {
    font-size: 15px;
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    width: auto;
  }
  
   @media screen and (max-width: 580px) {
   
   {
    body {
      
      margin: 10px auto;
      padding: 0 20px 0 20px;
      width: auto;
      word-wrap: break-word;
    }
  
    pre {
      font-size: 14px;
      line-height: 16px;
    }
  
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  
    img.avatar {
      height: 110px;
      width: 110px;
    }
  
    .video-wrap {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
    }
  
    .video-wrap iframe,
    .video-wrap object,
    .video-wrap embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  } 
  
  
  a {
    color:  #ffffff;
  }
  
  p {
    margin: 0 0 2ex 0;
  }
  
  ul {
    margin: 0 0 2ex 0;
    padding: 0;
  }
  
  li {
    margin: 0 0 0 20px;
    padding: 0;
  }
  
  .cover-left {
    width: 49%; 
    float: left;
    padding-right: 2%;
  }
  
  .cover-right {
    width: 49%; 
    float: left; 
  }

  hr {
      margin-bottom: 20px;
      margin-top: 30px;
  }

  .categories {
    background-color: #00ffcc00;
    padding-top: 10px;
    margin-right: 30%;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    align-items: left   ; */
}

.resources a:hover{
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: #00ffce;
  }



  /* categories hover thingy */

  .resources a{
      color: #ffffff;
      text-decoration: none;
      /* padding: 20px; */
  }

    /* .categories:hover + .hide-resources{
      display: block;
      content: url(/ak.png);
      height: 200px;
  } */

  .hide-resources{
      background-color: #00ffcc00;
      float: right;
      display: none;
      padding-top: 10px;
  }

 .resources:hover + .hide-resources{
    display: block;
    content: url(/Assets/Category Icons/bren.png);
    height: 100px;
}

 /* categories hover thingy over */
  
 .music a{
    color: #ffffff;
    text-decoration: none;
    /* padding: 20px; */
}

  /* .categories:hover + .hide-resources{
    display: block;
    content: url(/ak.png);
    height: 200px;
} */

.hide-music{
    background-color: #00ffcc00;
    float: right;
    display: none;
}

.music:hover + .hide-music{
  display: block;
  content: url(/Assets/Category Icons/music.png);
  height: 100px;
}

.music a:hover{
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: #00ffce;
    
  }

.memes a{
    color: #ffffff;
    text-decoration: none;
    /* padding: 20px; */
}

  /* .categories:hover + .hide-resources{
    display: block;
    content: url(/ak.png);
    height: 200px;
} */

.hide-memes{
    background-color: #00ffcc00;
    float: right;
    display: none;
}

.memes:hover + .hide-memes{
  display: block;
  content: url(/Assets/Category Icons/path2403.png);
  height: 100px;
}

.memes a:hover{
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: #00ffce;
    
  }

.categories .resources{
    padding-bottom: 10px;
}

.categories .music{
    padding-bottom: 10px;
}

.categories .memes{
    padding-bottom: 10px;
}

.categories .resources{
    padding-bottom: 10px;
}

.categories .resources{
    padding-bottom: 10px;
}

.footer {
    margin: 60px auto;
    padding-top:30%;
    font-family: Helvetica, serif;
      background-color: #000000;
      color: #ffffff;
    width: 580px;
    font-size: 18px;
    line-height: 26px;
    padding top: 100px;
  }

  .footer-socials{
      float: right;
      margin-left: 10;
  }

  .footer-text {
      float: left;
      color: #363636;
      padding-top: 15px;
      font-size: small;
  }

.DP {
    margin:auto;
    width:auto;
}

body{
    overflow-x: hidden;
}
